@import "../../styles/global";
@import "../../styles/mixins";

.ideas {
	&__block {
		padding-bottom: 30px;
		&-title {
			@include fs-page-title;
			color: $color-dark;
			padding: 20px 0 20px 0;
		}
		&-categories {
			&-title {
				@include fs-input-title;
				color: $color-dark;
				// padding-bottom: 8px;
			}
			&-filter {
				@include flex(row, flex-start, center);
				flex-wrap: wrap;
				&-button {
					@include button-mini;
					&--current {
						background-color: $fill-han-diy-primary;
						color: $color-light;
					}
				}
			}
		}
		&-card {
			@include flex(column, space-between, flex-end);
			filter: $shadow-filter-drop;
			border-radius: $border-radius;
			height: 120px;
			margin-top: 20px;
			padding: 8px;
			&-info {
				width: 66%;
				&-title {
					@include fs-card-title;
					color: $color-dark;
				}
				&-status {
					@include fs-card-status;
					color: $color-sub-dark;
					font-style: italic;
					&--complete {
						color: $color-han-diy;
						font-style: normal;
					}
				}
			}
			&-links {
				@include flex(row);
				&-icon {
					@include button;
					background-color: $fill-han-diy-secondary;
					margin-left: 8px;
					width: 36px;
					&:hover {
						background-color: $fill-hover-secondary-dark;
					}
					&--view {
						background-color: $fill-han-diy-primary;
						&:hover {
							background-color: $fill-hover-primary-dark;
						}
					}
					&-img {
						filter: $shadow-filter-drop;
						width: 24px;
					}
				}
			}
		}
	}
}
