@import "../../styles/global";
@import "../../styles/mixins";

.header {
	background-color: $fill-han-diy-primary;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	& + * {
		padding-top: 50px;
	}
	&__block {
		@include flex(row, space-between, center);
		height: 100%;
		&-logo {
			padding: 4px 4px 2px 4px;
			&:hover {
				background-color: $fill-hover-primary-dark;
				border-radius: $border-radius;
			}
			&-img {
				height: 22px;
				filter: $shadow-filter-drop;
			}
		}
		&-appname {
			@include fs-app-header;
			color: $color-light;
			text-shadow: $shadow-text;
			transition: all linear 0.2s;
			&:hover {
				text-shadow: $shadow-text-dark;
			}
		}
		&-user {
			height: 34px;
			&-img {
				height: 34px;
				filter: $shadow-filter-drop;
			}
		}
	}
}
