@import "../../styles/global";
@import "../../styles/mixins";

.create {
	&__block {
		&-title {
			@include fs-page-title;
			color: $color-dark;
			padding: 20px 0 4px 0;
		}
		&-form {
			&-input {
				@include flex(column, flex-start, flex-start);
				width: 100%;
				&--buttons {
					@include flex(row, space-between, center);
					padding: 20px 0 20px 0;
				}
				&:last-of-type {
					width: 100%;
					@include flex(row, space-between, center);
				}
				&-label {
					@include fs-input-title;
					color: $color-dark;
					width: 100%;
					padding: 16px 0 6px 0;
				}
				&-field {
					background-color: $fill-white;
					border-radius: $border-radius;
					border: $border-style;
					color: $color-dark;
					filter: $shadow-filter-drop;
					height: 36px;
					width: 100%;
					resize: none;
					padding: 0 0 0 8px;
					&--textarea {
						height: 120px;
						padding: 6px 0 0 8px;
					}
				}
				&-button {
					@include button;
					background-color: $fill-han-diy-secondary;
					width: 48%;
					&:hover {
						background-color: $fill-hover-secondary-dark;
					}
					&--add {
						background-color: $fill-han-diy-primary;
						&:hover {
							background-color: $fill-hover-primary-dark;
						}
						&:disabled {
							background-color: $fill-disabled-button;
						}
					}
					&-icon {
						filter: $shadow-filter-drop;
						width: 24px;
					}
					&-text {
						@include fs-button;
						color: $color-light;
						text-shadow: $shadow-text;
						padding-left: 8px;
					}
				}
			}
		}
	}
}
