@font-face {
	font-family: "Ultra";
	src: url("../assets/fonts/Ultra-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Cabin";
	src: url("../assets/fonts/CabinRegular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Cabin";
	src: url("../assets/fonts/CabinItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Cabin";
	src: url("../assets/fonts/CabinSemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Cabin";
	src: url("../assets/fonts/CabinBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
