// Flex Mixins

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin flex-center($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

// Font Style mixins
@mixin fs-app-header {
	font-family: "Ultra";
	line-height: 3.08rem;
	font-size: 2.6rem;
	font-weight: 400;
}

@mixin fs-hero-title {
	line-height: 5.83rem;
	font-size: 4.8rem;
	font-weight: 600;
}

@mixin fs-page-title {
	line-height: 3.69rem;
	font-size: 3rem;
	font-weight: 600;
}

@mixin fs-page-sub-title {
	line-height: 2.187rem;
	font-size: 1.8rem;
	font-weight: 600;
}

@mixin fs-paragraph {
	line-height: 1.944rem;
	font-size: 1.6rem;
	font-weight: 400;
}

@mixin fs-input-title {
	line-height: 1.7rem;
	font-size: 1.4rem;
	font-weight: 400;
}

@mixin fs-nav-link {
	line-height: 1.46rem;
	font-size: 1.3rem;
	font-weight: 700;
}

@mixin fs-button {
	line-height: 1.7rem;
	font-size: 1.4rem;
	font-weight: 700;
}

@mixin fs-button-mini {
	line-height: 1.7rem;
	font-size: 1.4rem;
	font-weight: 400;
}

@mixin fs-card-title {
	line-height: 2.43rem;
	font-size: 2rem;
	font-weight: 700;
}

@mixin fs-card-status {
	line-height: 1.458rem;
	font-size: 1.2rem;
	font-weight: 400;
}

@mixin fs-detail-title {
	line-height: 3.89rem;
	font-size: 3.2rem;
	font-weight: 700;
}

@mixin fs-detail-text {
	line-height: 1.7rem;
	font-size: 1.4rem;
	font-weight: 400;
}

// Button mixins

@mixin button {
	@include flex(row, center, center);
	border-radius: $border-radius;
	text-align: center;
	height: 36px;
	border: none;
	padding: 0;
	cursor: pointer;
	font: inherit;
	transition: all linear 0.2s;
}

@mixin button-mini {
	@include fs-button-mini;
	border-radius: $border-radius;
	background-color: $fill-white;
	filter: $shadow-filter-drop;
	color: $color-dark;
	text-align: center;
	border: none;
	cursor: pointer;
	font: inherit;
	padding: 0 7px 0 7px;
	height: 22px;
	margin: 8px 9px 0 0;
	transition: all linear 0.2s;
	&:hover {
		background-color: $fill-han-diy-primary;
		color: $color-light;
	}
}
