// Fills
$fill-white: #ffffff;
$fill-han-diy-light: #f7f8f5;
$fill-han-diy-primary: #dc9f65;
$fill-han-diy-secondary: #9c9b93;
$fill-warning: #ed5e68;
$fill-warning-background: rgba(156, 155, 147, 0.7);
$fill-disabled-button: #88603b;

// Text Colors
$color-dark: #4e5653;
$color-light: #f7f8f5;
$color-han-diy: #dc9f65;
$color-sub-dark: #a6b0b1;

// Border
$border-style: 1px solid #a6b0b1;

// Border Radius
$border-radius: 4px;

// Shadows
$shadow-filter-drop: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
$shadow-text: 0px 2px 4px rgba(0, 0, 0, 0.25);
